.list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.item:not(:last-child) {
  margin-right: 20px;
}

.optionBtn {
  display: block;
  width: 80px;
  padding: 8px;
  background-color: rgb(35, 107, 85);
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.optionBtn:hover,
.optionBtn:focus {
  background-color: rgb(85, 194, 161);
}
